{% extends 'delivery_app/base.html' %}
{% load static %}
{% block content %}
<div class="row">

    <!-- Sidebar -->
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary col-4">
       
        <!-- Shop List -->
        <div class="list-group list-group-flush border-bottom scrollarea">
            {% for shop in shops %}
            <div  class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true" data-shop-id={{forloop.counter}} >
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ shop.name }}</strong>
                </div>
                <div class="col-10 mb-1 small">{{ shop.address }}</div>
            </div>
            {% empty %}
                <li>No shops available</li>
            {% endfor %}
        </div>
    </div>

    <!-- Products -->
    <div class="col-8">
        <div class="row" id="product-container">
        </div>
    </div>
</div>

<script src="{% static 'delivery_app/index.js' %}"></script>
{% endblock %}
