asgiref==3.6.0
build==0.10.0
Django==4.2.1
django-delivery-app @ file:///Users/bohda/project0/food_delivery_app/dist/django-delivery-app-0.1.tar.gz#sha256=857f0d0255a8e4ce61f276076f0cd2c15ddc1aca7fb72f156e5d93ac8a5304a3
django-polls @ file:///Users/bohda/django-polls/dist/django-polls-0.1.tar.gz#sha256=74b2e99ed3c1b689e9d74939da0431f880c1f215bd0e177ecdd1140c9be290ba
gunicorn==20.1.0
packaging==23.1
Pillow==9.5.0
pyproject_hooks==1.0.0
sqlparse==0.4.4
whitenoise==6.4.0
